
*:before, *:after {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}

.panel {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    width: 78%;
    margin-left: 8px;
}
* {
    box-sizing: border-box;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #1C7EBB;
    color: #FFFFFF;
}


*:before, *:after {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
.col-md-4 {
    width: 33.3333%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-align: right;
}
* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #1C7EBB;
    color: #FFFFFF;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #1C7EBB;
    color: #FFFFFF;
}

.container {
    width: 52%;
    
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.col-sm-3 {
    width: 25%;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: right;
}

.panel .panel-heading {
    text-align: right;
    text-transform: uppercase;
}

div > hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 20px;
    margin-top: 57px;
}
hr {
    box-sizing: content-box;
    height: 0;
}

.btn-success {
    background-color: #23AE89;
    border-color: #1F9978;
    color: #FFFFFF;
    float:right;
    
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}

.input-group-lg {
    float:right;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
    float: right;
    top: -45px;
}

.input-group .form-control {
    float: right;
    margin-bottom: 0;
    margin-right: 36px;
    position: relative;
    z-index: 2;
    width: 117%;
}

.input-group {
    border-collapse: separate;
    display: table;
    margin-bottom: -48px;
    position: relative;
}

.input-group-addon {
    background-color: #EEEEEE;
    color: #767676;
    font-weight: normal;
    text-align: center;
    width:15%;
}

.input-group-addon, .input-group-btn {
    white-space: nowrap;
    width: 52px;
}

@media (min-width: 768px) {
  /* line 10, bootstrap-sass/bootstrap/_grid.scss */
  .container {
    width: 52%;
  }
}
@media (min-width: 992px) {
  /* line 10, bootstrap-sass/bootstrap/_grid.scss */
  .container {
    width: 52%;
  }
}
@media (min-width: 1200px) {
  /* line 10, bootstrap-sass/bootstrap/_grid.scss */
  .container {
    width: 52%;
  }
}